.flex{
    display: flex;
}
.justify-center{
    justify-content: space-between;
}
.align-items{
    align-items: center;
}
.justify-content{
    justify-content: flex-end;
}
.direction{
    flex-direction: column;
}